# Google Drive API Client (Obtener en console.cloud.google.com)
DRIVE_CLIENT_ID=601196548077-jm1gen2ifkb56tntvos8uhtvomecnuou.apps.googleusercontent.com
DRIVE_CLIENT_SECRET=tu_drive_secret_aqui

# SMTP / Recuperación por Email (Ej: Gmail con Contraseña de Aplicación)
SMTP_USER=juanestebanhh06@gmail.com
SMTP_PASS=tu_smtp_password_aqui
SMTP_FROM='"VaultSecurity Support" <juanestebanhh06@gmail.com>'
